@charset "utf-8";

*,
* ::before,
* ::after {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: #fff;
    margin: 1rem;
}
p {
    background: #ddd;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1rem;
}